@use '../utils/' as *;

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--mainBgColor);
  color: var(--textWhite);
  min-height: 100vh;
}

input {
  color-scheme: dark;
}

#root {
  min-height: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
