@use '../utils/' as *;

body {
  background-color: var(--mainBgColor);
  color: var(--textWhite);
  min-height: 100vh;
  font-weight: 500;
  font-size: rem(18);
  line-height: 1.55;
}

#root {
  min-height: inherit;
}
