:root {
  --mainBgColor: rgb(21, 21, 21);
  --formBgColor: rgb(36, 36, 36);
  --detailsColor: rgb(78, 225, 160);

  --textGrey: rgb(217, 217, 217);
  --textWhite: rgb(255, 255, 255);
  --textError: rgb(255, 111, 91);
}
