@use '../utils/' as *;

@font-face {
  font-family: 'Space Grotesk';
  src: url(/src/assets/SpaceGrotesk-Bold.ttf);
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url(/src/assets/SpaceGrotesk-Medium.ttf);
  font-weight: 500;
  font-display: swap;
}

$font: 'Space Grotesk', sans-serif;

body {
  font-family: $font;
  font-size: rem(16);
  line-height: 1.55;
  font-weight: 500;

  @include breakpoint(medium) {
    font-size: rem(18);
  }
}

.button {
  font-size: rem(16);
  line-height: 1;
  letter-spacing: 2.5px;
}

.headingXL {
  font-size: rem(40);
  line-height: 1;
  letter-spacing: -2.5px;
  font-weight: 700;

  @include breakpoint(medium) {
    font-size: rem(72);
  }
  @include breakpoint(xlarge) {
    font-size: rem(88);
  }
}

.headingL {
  font-size: rem(24);
  line-height: 1.2;
  letter-spacing: -1.5px;
  font-weight: 700;
}

.headingM {
  font-size: rem(24);
  line-height: 1.35;
  font-weight: 700;
}

.headingS {
  font-size: rem(24);
  line-height: 1.35;
  font-weight: 700;

  @include breakpoint(medium) {
    font-size: rem(32);
  }
}
