@use '../../../styles/utils/' as *;
.projects {
  margin-top: rem(40);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: rem(32);

  @include breakpoint(medium) {
    grid-template-columns: 1fr 1fr;
  }

  &__item {
    display: grid;
    grid-template-rows: auto auto 1fr 1fr auto;
    gap: rem(20);

    align-items: center;

    @include breakpoint(medium) {
      align-items: baseline;
    }
  }

  &__imgWrapper {
    position: relative;
  }

  &__backdrop {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);

    @include breakpoint(xlarge) {
      display: block;
    }
  }

  &__imgButtons {
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    gap: rem(50);

    @include breakpoint(xlarge) {
      display: grid;
    }
  }

  &__name {
    text-transform: uppercase;
  }

  &__description {
    color: var(--textGrey);
  }

  &__techList {
    display: flex;
    flex-wrap: wrap;
    gap: rem(10);
    text-transform: uppercase;
  }

  &__tech {
    color: var(--textGrey);
    font-size: 16px;
    white-space: nowrap;
    justify-content: center;
  }

  &__buttonsWrapper {
    display: flex;
    width: 100%;
    gap: rem(30);

    @include breakpoint(xlarge) {
      display: none;
    }
  }
}
