@use '../utils/' as *;

.grid {
  display: grid;
  min-height: inherit;
  background-color: var(--mainBgColor);

  &__about,
  &__skills,
  &__projects {
    width: min(100% - rem(28), 1220px);
    margin-inline: auto;
    scroll-margin-top: rem(-10);
    overflow: hidden;

    @include breakpoint(medium) {
      width: min(100% - rem(50), 1220px);
    }
  }

  &__about {
    padding-bottom: rem(80);

    @include breakpoint(xlarge) {
      padding-bottom: rem(148);
      position: relative;
    }
  }
  &__skills {
    padding-block: rem(80);
    border-bottom: 2px solid var(--textGrey);
    border-top: 2px solid var(--textGrey);
  }

  &__projects {
    padding-block: rem(80);
  }

  &__contact {
    background-color: var(--formBgColor);
    padding-top: rem(80);
    padding-bottom: rem(60);

    @include breakpoint(xlarge) {
      position: relative;
    }
  }
}
