.grid {
  display: grid;
  min-height: inherit;

  &__about {
    background-color: red;
  }
  &__skills {
    background-color: blue;
  }
  &__projects {
    background-color: green;
  }

  &__contact {
    background-color: palevioletred;
  }
}
