@use "../../../styles/utils/" as *;

.title {
  display: grid;
  grid-template-rows: minmax(250px, 280px) 1fr;

  @include breakpoint(medium) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: unset;
    justify-items: flex-end;
    margin-top: rem(85);
  }

  &__img {
    max-width: 174px;
    margin-bottom: rem(20);
    position: absolute;
    top: 0;
    z-index: 0;
    left: 0;
    right: 0;
    margin-inline: auto;

    @include breakpoint(medium) {
      max-width: 322px;
      left: unset;
      right: 0;
      transform: translate(0);
    }

    @include breakpoint(xlarge) {
      max-width: 445px;
      left: unset;
      right: 0;
      transform: translate(0);
    }
  }

  &__textWrapper {
    grid-row: 2/-1;
    display: grid;
    justify-items: center;
    z-index: 10;
    text-align: center;
    align-items: center;
    gap: rem(30);

    @include breakpoint(medium) {
      justify-items: flex-start;
      text-align: left;
      margin-left: rem(3);
    }
  }

  &__text {
    max-width: 400px;

    @include breakpoint(medium) {
      max-width: unset;
    }

    span:first-child {
      margin-inline: 1rem;
    }

    span:last-child {
      white-space: nowrap;
      background-image: linear-gradient(
          var(--detailsColor),
          var(--detailsColor)
        ),
        linear-gradient(var(--textError), var(--textError));
      background-size: 100% 5px, 0 5px;
      background-position: 100% 100%, 0 100%;
      background-repeat: no-repeat;
      transition: background-size 1s linear;
    }
  }

  &__subtitle {
    color: var(--textGrey);
    max-width: 400px;

    @include breakpoint(medium) {
      max-width: unset;
    }

    @include breakpoint(xlarge) {
      max-width: 445px;
    }
  }

  &__buttonWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(32);

    @include breakpoint(medium) {
      flex-direction: row;
    }
  }
}
