@use '../../../styles/utils/' as *;

.title {
  display: grid;
  grid-template-rows: minmax(300px, 1fr) 1fr;

  @include breakpoint(medium) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: unset;
    justify-items: flex-end;
    margin-top: rem(85);
  }

  &__img {
    max-width: 174px;
    margin-bottom: rem(20);
    position: absolute;
    top: 0;
    z-index: 0;
    left: 50%;
    transform: translate(-50%);

    @include breakpoint(medium) {
      max-width: 322px;
      left: unset;
      right: 0;
      transform: translate(0);
    }

    @include breakpoint(xlarge) {
      max-width: 445px;
      left: unset;
      right: 0;
      transform: translate(0);
    }
  }

  &__textWrapper {
    grid-row: 2/-1;
    display: grid;
    gap: rem(28);
    justify-items: center;
    z-index: 10;
    text-align: center;

    @include breakpoint(medium) {
      justify-items: flex-start;
      text-align: left;
      gap: rem(50);
    }
  }

  &__text {
    span {
      white-space: nowrap;
      background-image: linear-gradient(
          var(--detailsColor),
          var(--detailsColor)
        ),
        linear-gradient(#feb2b2, #feb2b2);
      background-size: 100% 5px, 0 5px;
      background-position: 100% 100%, 0 100%;
      background-repeat: no-repeat;
      // transition: background-size 1s linear;

      &:hover {
        // background-size: 0 5px, 100% 5px;
      }
    }
  }

  &__subtitle {
    color: var(--textGrey);
    @include breakpoint(xlarge) {
      max-width: 445px;
    }
  }
}
