@use '../../../styles/utils/' as *;

$iconOpacityTransition: opacity 0.25s ease-in-out;
$iconTransformTransition: transform 0.25s ease-in-out;

$warningOpacityTransition: opacity 0.25s ease-in-out;

.contact {
  display: grid;
  width: min(100% - rem(28), 1220px);
  margin-inline: auto;

  @include breakpoint(xlarge) {
    width: min(100% - rem(50), 1220px);
    grid-template-columns: 1fr 1fr;
    column-gap: rem(100);
  }

  &__titleWrapper {
    text-align: center;
    max-width: 445px;
    margin-inline: auto;

    @include breakpoint(xlarge) {
      text-align: left;
      margin: unset;
    }
  }

  &__form {
    display: grid;
    width: min(100%, 445px);
    margin-inline: auto;

    @include breakpoint(xlarge) {
      grid-column: 2/-1;
      grid-row: 1/2;
      width: unset;
      margin: unset;
    }
  }

  &__subtext {
    color: var(--textGrey);
    margin-block: rem(35);
  }

  &__controller {
    position: relative;
    overflow: hidden;
  }

  &__icon--visible {
    color: var(--textError);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%) scale(1);
    opacity: 1;
    transition: $iconOpacityTransition, $iconTransformTransition;
  }

  &__icon--hidden {
    @extend .contact__icon--visible;
    transform: translate(0, -50%) scale(0);
    opacity: 0;
    transition: $iconOpacityTransition, $iconTransformTransition;
  }

  &__input {
    width: 100%;
    background-color: var(--formBgColor);
    border: 0;
    resize: none;
    height: 100%;
    border-bottom: 2px solid var(--textGrey);
    color: var(--textWhite);
    padding-block: rem(12);

    &:focus {
      outline: 0;
    }

    &::placeholder {
      text-transform: uppercase;
    }
  }

  &__warningWrapper {
    justify-self: end;
    margin-top: rem(5);
    margin-bottom: rem(10);
    overflow: hidden;
    min-height: 33.594px;
  }

  &__warning--visible {
    color: var(--textError);
    font-size: rem(12);
    opacity: 1;
    transition: $warningOpacityTransition;
  }

  &__warning--hidden {
    @extend .contact__warning--visible;
    opacity: 0;
    transition: $warningOpacityTransition;
  }

  button {
    margin-top: rem(40);
    margin-bottom: rem(90);
    justify-self: end;
  }

  &__navbarWrapper {
    padding-top: rem(60);
    border-top: 2px solid var(--textGrey);
    grid-column: 1/-1;
  }

  &__submitMsg {
    color: var(--detailsColor);
    text-align: center;
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: rem(20);
    top: 0;
    width: max-content;
    background-color: var(--detailsColor);
    color: var(--textWhite);
    padding: rem(16);
    transform: translateY(-200px);
    transition: 0.25s;

    &--visible {
      @extend .contact__submitMsg;
      transform: translateX(0);
    }

    p {
      color: var(--formBgColor);
    }
  }
}
