@use '../../../styles/utils/' as *;

.navbar--bottom {
  padding-inline: unset;
}

.navbar {
  position: relative;
  padding-block: rem(26);
  z-index: 10;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(26);

    @include breakpoint(medium) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__name,
  &__icon {
    color: var(--textWhite);
    transition: 0.5s;
  }

  &__iconsWrapper {
    display: flex;
    gap: rem(32);

    a > svg:hover {
      color: var(--detailsColor);
      transition: 0.5s;
    }

    @include breakpoint(xlarge) {
      padding-right: rem(16);
    }
  }

  &__iconsWrapper--bottom {
    @extend .navbar__iconsWrapper;
    padding-right: unset;
  }
}
